<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="ritu">
        <div><img src="ritu.jpg" alt=""><h2>Rituraj lodhi</h2><span>guna(M.P.),India</span></div>
        <p>"Frontend developer and avid reader"</p>
        <a class="back" href="#">Github</a>

        <a class="delete" ng-click="#">twitter</a>
    
        <a class="delete" ng-click="#">linkedin</a>
    
        <a class="delete" ng-click="https://www.frontendmentor.io/profile/Riturajlodhi">frontend mentor</a>
        <a class="delete" ng-click="#">facebook</a>
    
    
    
    
    
    
    </div>
    
   
    
</body>
</html>
